In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
np.random.seed(42)

In [2]:
df = pd.read_csv("data/csv/all_labels.csv", index_col=0)
dfg = df.groupby(['filename'])
group_list = [dfg.get_group(x) for x in dfg.groups]

In [3]:
n_files = len(group_list)
train_index = np.random.choice(n_files, size=int(n_files*0.95), replace=False)
valid_index = np.setdiff1d(list(range(n_files)), train_index)
train = pd.concat([group_list[i] for i in train_index])
valid = pd.concat([group_list[i] for i in valid_index])

# sanity checks
print(f"number of unique files in dataset: {n_files}")
print(f"number of unique files in training set: {len(train_index)}")
print(f"number of unique files in validation set: {len(valid_index)}")
print(f"number of objects in training set: {len(train)}")
print(f"number of objects in validation set: {len(valid)}")

number of unique files in dataset: 1677
number of unique files in training set: 1593
number of unique files in validation set: 84
number of objects in training set: 2540
number of objects in validation set: 126

In [4]:
pd.crosstab(train['class'], train['class'])

class        7_eleven  family_mart  lawson
class
7_eleven          736            0       0
family_mart         0          879       0
lawson              0            0     925

In [5]:
pd.crosstab(valid['class'], valid['class'])

class        7_eleven  family_mart  lawson
class
7_eleven           43            0       0
family_mart         0           39       0
lawson              0            0      44

In [6]:
train.to_csv("data/csv/train_labels.csv")
valid.to_csv("data/csv/valid_labels.csv")